*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.body{
  background-image: url("src/assets/d.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
background-attachment: fixed;
  background-size: cover;
}

::selection{
  background: silver;
}
.container{
  width: 650px;

  padding: 0px;
  margin: 90px auto;
 
}
.wrapper{
  width: 100%;
  border-radius: 5px;
 
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);

}
.image{
  background-color: transparent; 
 
}
.wrapper .title{
  height: 90px;
  margin-top: 20px;
  background: #14c572;  border-radius: 35px  35px 0 0;
  color: #fff;
  
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  

  display: flex;
  align-items: center;

  justify-content: center;
}
.wrapper form{
  padding: 60px;

}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 35px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  background: rgb(220, 231, 229);   box-shadow: inset 0px 0px 2px 2px rgba(33, 219, 27, 0.699);
}
form .row input::placeholder{
  color:  lightgrey;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #14c572; 
    border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #14c572; ;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 30px;
  font-weight: 80px;
  padding-left: 0px;
  background: #14c572;    
  border: 1px solid #14c572;
 
  cursor: pointer;
}
form .button input:hover{
  background: #14c572;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #14c572; ;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
