<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="assets/dweya2.png" />

     <!--  <h4 class="name">le nom du pharmacien</h4>
        <p class="designation">Software Engineer</p>
!-->
        <mat-divider></mat-divider>

     
        <button mat-button class="menu-button">
            <mat-icon >home</mat-icon>
            <span routerLink="/Acceuil">Accueil</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon  >list</mat-icon>
          <span   routerLink="/Listdestechniciens">Liste des techniciens</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>list</mat-icon>
            <span routerLink="/Listdesordonnances">Liste des ordonnances</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>settings_power</mat-icon>
            <span   (click) ="onLogOut()"  >Déconnecter</span>
        </button>

       

    </mat-sidenav>
   


<div class="container" >
   
    <!-- Employee list -->
    <table id="customers" >
      <thead >
        <tr>
          <th   scope="col">Numéro</th>
          <th scope="col">Nom du technicien</th>
          <th scope="col">Adresse</th>
          <th scope="col">Numéro de cin</th>
          <th scope="col">Numéro de télephone</th>
          <th scope="col">Email</th>

          <th scope="col">Disponibilité</th>

           <th scope="col"><h1></h1></th>
<th scope="col"><h1></h1></th>
        </tr>
      
      </thead>
      <tbody>
        <tr *ngFor="let technicien of techniciens; let i = index">
                  <td> {{ i + 1 }} </td>

          <td>{{technicien.name}}</td>
          <td>{{technicien.adress}}</td>
           <td>{{technicien.cin}}</td>
            <td>{{technicien.tel}}</td>
             <td>{{technicien.email}}</td>

             <td>{{technicien.status }} </td>


<td><img  class="icondelete"src="assets/delete.svg" (click)="deletetech(technicien._id)"   ></td>
<td><img src="https://img.icons8.com/android/24/000000/edit.png" (click)="navigateToEdit(technicien._id)" />
          </td> 
        </tr>
      
      </tbody>
              <input type="submit"  routerLink="/Ajouter technicien" value="Ajouter technicien">

    </table>
  

  </div>

</mat-sidenav-container>


   
</body>
</html> 
