


<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body class="body">
  
    <div class="container">
  
      <div class="wrapper">
        <div class="title"><span> affecter ordonnances </span></div>
        
        <form action="#" (submit)="update()">
        <div class="row">
  <i ><mat-icon >email</mat-icon></i>
  <input type="text" class="form-control"[(ngModel)]="email" name="email">

          </div>
        

          <div class="row">
            <i>   <mat-icon>person</mat-icon> </i>
            
        <input type="text" class="form-control"[(ngModel)]="medecin" name="medecin">
          </div>
<div class="row">
            <i>   <mat-icon>places</mat-icon></i>
            
        <input type="text" class="form-control"[(ngModel)]="listp" name="listp">
          </div>
          
          <div class="row">
            <i>   <mat-icon>people</mat-icon></i>
            
        <input type="text" class="form-control"[(ngModel)]="priseencharge" name="priseencharge">
          </div>
          <div class="row">
        <i>  <mat-icon>list</mat-icon></i>
<select size="1" class="form-control" [(ngModel)]="technicien" name="technicien">
                        <option *ngFor="let technicien of techniciens" [value]="technicien.email">{{technicien.email}}</option>
                </select>      
                    </div>
          <!--  <div class="pass"><a href="#">Forgot password?</a></div>!-->
          <div class="row button">
            <input type="submit" value=" Affecter   ">
          </div>
        </form>
      </div>
     
    </div>

  </body>
</html>


