
<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="assets/dweya2.png" />

     <!--  <h4 class="name">le nom du pharmacien</h4>
        <p class="designation">Software Engineer</p>
!-->
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span routerLink="/Acceuil">Accueil</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>list</mat-icon>
          <span   routerLink="/Listdestechniciens">List des techniciens</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>list</mat-icon>
            <span routerLink="/Listdesordonnances"  >List des ordonnaces</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>power_settings_new</mat-icon>
            <span   (click) ="onLogOut()"  >Déconnecter</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            Main content here!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body class="body">
  
    <div class="container">
  
      <div class="wrapper">
        <div class="title"><span> Ajouter technicien </span></div>
        
        <form action="#" (submit)="addtech()">
        <div class="row">
  <i ><mat-icon >person</mat-icon></i>
    <input type="text" id="fname" name="name" placeholder="le nom du tech...." class="form-control"[(ngModel)]="name" name="name">
          </div>
          <div class="row">
            <i>   <mat-icon> email</mat-icon> </i>
            
    <input type="text" id="lname" name="email" placeholder="aaaaaa@gmail.com" class="form-control"[(ngModel)]="email" name="email">
          </div>

          <div class="row">
            <i>   <mat-icon> contact_mail</mat-icon> </i>
            
    <input type="text" id="lname" name="cin" placeholder="xxxxxxxx" class="form-control"[(ngModel)]="cin" name="cin">
          </div>
<div class="row">
            <i>   <mat-icon>places</mat-icon></i>
            
    <input type="text" id="lname" name="adress" placeholder="xx rue aaaaaa " class="form-control"[(ngModel)]="adress" name="adress">
          </div>
          
          <div class="row">
            <i>   <mat-icon> call</mat-icon></i>
            
    <input type="text" id="lname" name="tel" placeholder="xxxxxxxx" class="form-control"[(ngModel)]="tel" name="tel">
          </div>
          <div class="row">
        <i>  <mat-icon>lock</mat-icon></i>
    <input for="lname" type="password" id="lname" name="password" placeholder="xxxxxxxx" class="form-control"[(ngModel)]="password" name="password">
          </div>
          <!--  <div class="pass"><a href="#">Forgot password?</a></div>!-->
          <div class="row button">
            <input type="submit" value="Ajouter ">
          </div>
        </form>
      </div>
     
    </div>

  </body>
</html>
