<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body class="body">
  
    <div class="container">
  
      <div class="wrapper">
        <div class="title" ><span> Créer un compte </span></div>
        
        <form action="#" #register="ngForm" (submit)="registerPharmacien()">
        <div class="row">
  <i><mat-icon >person</mat-icon></i>
            <input type="text" id="name" name="name" class="form-control" placeholder="Entrez votre nom "   #namecontrol="ngModel" [(ngModel)]="name" required>
            <span *ngIf="namecontrol.invalid && namecontrol.touched"  class="error"> champs obligatoire</span>
          </div>
          <div class="row">
            <i>   <mat-icon> email</mat-icon> </i>
            
            <input type="text" id="email" name="email" class="form-control" placeholder="Entrez votre email" [(ngModel)]="email"   #emailcontrol="ngModel" required pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                              <span *ngIf="emailcontrol.invalid && emailcontrol.touched && emailcontrol.errors?.required"  class="error">champs obligatoire</span>

                     <span *ngIf="emailcontrol.touched && emailcontrol.errors?.pattern"  class="error"> Email n'est pas valide</span>

          </div>

          <div class="row">
            <i>   <mat-icon> contact_mail</mat-icon> </i>
            
            <input type="text" id="cin" name="cin" class="form-control" placeholder="Entrez votre numéro du carte d'identité"  #cincontrol="ngModel" pattern="[0-9]{8}" [(ngModel)]="cin" required>
      <span *ngIf="cincontrol.invalid && cincontrol.touched && cincontrol.errors?.required"  class="error">champs obligatoire</span>
                     <span *ngIf="cincontrol.touched && cincontrol.errors?.pattern"  class="error">contenir seulement des chiffres et ne dépasse 8</span>
          </div>
<div class="row">
            <i>   <mat-icon>places</mat-icon></i>
            
            <input type="text" id="adress" name="adress" class="form-control" placeholder="Entrez votre adresse personnel" #adresscontrol="ngModel" [(ngModel)]="adress" required>
                       <span *ngIf="adresscontrol.invalid && adresscontrol.touched"  class="error">champs obligatoire</span>

          </div>
          <div class="row">
            <i>   <mat-icon> local_hospital</mat-icon></i>
            
            <input type="text" id="listp" name="listp" class="form-control" placeholder="Entrez votre adresse du pharmacie" #listpcontrol="ngModel" [(ngModel)]="listp" required>
                          <span *ngIf="listpcontrol.invalid && listpcontrol.touched"  class="error">champs obligatoire</span>

          </div>
          <div class="row">
            <i>   <mat-icon> call</mat-icon></i>
            
            <input type="text" id="tel" name="tel" class="form-control" placeholder="Entrez votre numéro du téléphone " #telcontrol="ngModel" pattern="[0-9]{8}" [(ngModel)]="tel" required>
 <span *ngIf="telcontrol.invalid && telcontrol.touched && telcontrol.errors?.required"  class="error">champs obligatoire</span>
                     <span *ngIf="telcontrol.touched && telcontrol.errors?.pattern"  class="error">contenir seulement des chiffres et ne dépasse 8 </span>
          </div>
          <div class="row">
        <i>  <mat-icon>lock</mat-icon></i>
            <input type="password" id="password"  class="form-control" name="password" #passwordcontrol="ngModel" [(ngModel)]="password" placeholder="Entrez un mot de passe "  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                              <span *ngIf="passwordcontrol.invalid && passwordcontrol.touched && passwordcontrol.errors?.required"  class="error">champs obligatoire</span>
                     <span *ngIf="passwordcontrol.touched && passwordcontrol.errors?.pattern"  class="error">contenir au moins un chiffre et une lettre majuscule et minuscule, et au moins 8 caractères ou plus</span>

          </div>
          <!--  <div class="pass"><a href="#">Forgot password?</a></div>!-->
          <div class="row button" >
            <input type="submit" value="Enregistrer"   >
            <span *ngIf="register.invalid" class="error">*Remplir tous les champs</span>

          </div>
        </form>
      </div>
     
    </div>

  </body>
</html>